{% extends 'core/layout.html' %}

{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static "core/css/index.css" %}">
{% endblock style %}

{% block  body %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">Piew</a>
        <form class="form-inline" action="{% url 'search' %}" method="POST">
            {% csrf_token %}
            <div class="md-form my-0">
                <input name="ss" class="form-control mr-sm-2" type="text" placeholder="Enter a username">
            </div>
            <button class="btn btn-outline-white btn-md my-2 my-sm-0 ml-3" type="submit">Search</button>
        </form>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
            <a class="nav-link" href="{% url 'user' user.id %}">{{user.username}}</a>
            </li>
            <li class="nav-item active">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
        </ul>
        </div>
    </div>
    </nav>
    <br>
    <br>    
    <br>
    <center>
        <div class="card-signin center-align">
            <h2>user not found</h2>
        </div>
    </center>

{% endblock body %}